


/* Style dla stopki */
.footer {
	background: url(../img/bg-footer-noise.png) repeat-x 0 bottom #1B1B1B;" 
	color: white;
	font-size: 15px;
	text-align:center;	
	
	display: block;
	color: white;
	font: 14px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	height:25px;
	
}


