
/* style dla menu */
.menu {

	display: block;
	color: white;
	font: 11px/20.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	height:25px;
	background: #23202d;
	border-bottom:2px solid #ecb626;

}

.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

.menu li {
	display: inline; 
	padding: .3em 1em;
	color: #efefef;
	border:solid 0 1px 0 1px  #b3b3b3;
	vertical-align:text-bottom;
}

.menuItem {
	opacity: 0.7;
	display: inline; 
	padding: .3em 1em;
	color: #efefef;
	border:solid 0 1px 0 1px  #b3b3b3;
	vertical-align:text-bottom;
	   
}